doctype html
html
  head
    title Harry Dance Academy
    style
      include ../static/style.css
  body
    //- this is how comment in the pug and # is used for id and (.) is used for class declaration.
    nav#navbar
        ul
            //- By using this pound symbol before the square bracket we can describe the anchor tag
            div#logo 
                img(src='../static/Images/logo.png')
                h4 HDA
            li #[a(href='/') Home ]
            li #[a(href='/') About  ]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]
            li #[a(href='/') Contact us]
    section#infosection 
        div Welcome to Harry's dance academy 
        div.small Eat Dance Sleep and repeat

    section#ourmission 
        h2 Our Mission
        div.card 
          h3 Dance perfection
          div.card-box 
            div.card-img
              img(src="../static/Images/img1.png", alt="Images")
            div.card-content 
              p This is the best dance academy of the universe.

        div.card 
          h3 Dance the way you like
          div.card-box  
            div.card-img 
              img(src="../static/Images/img4.png", alt="Images")
            div.card-content 
              p This is the best dance academy of the universe.


        div.card 
          h3 Expert Teaching
          div.card-box 
            div.card-img
              img(src="../static/Images/img5.png", alt="Images")
            div.card-content 
              p This is the best dance academy of the universe.


    section#sponsorsection 
        h3 Our Sponsors 
        div.sponssor 
          img(src="/static/Images/apple.png", alt="apple sponsor")
          img(src="/static/Images/hp.png", alt="hp sponsor")
          img(src="/static/Images/microsoft.png", alt="microsoft sponsor")
          img(src="/static/Images/skype.png", alt="skype sponsor")

    footer#footer 
        |  Copyright &copy 2022 All rights are reserved HarryDanceAcademy.com
    script
      include ../static/script.js